* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI';
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #660c1b;
}

header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-grid;
    padding: 15px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.4s;
}

nav ul li::after{
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul li:hover {
    color: #e05d06;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7c7c7;
    transition: 0.5s;
    z-index: 2;
}



.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    margin-bottom: -250px;
}

.text h2 {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 5em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #292626;
    margin: 20px 0;
    font-family: 400;
    
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    z-index: 10p;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translate(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}

@media (max-width: 991px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }
    .text h2 {
        font-size: 10em;
    }
    .text h3 {
        font-size: 2em;
    }
}

.galeria {
    display: flex;
    width: 1150px;
    height: 600px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.7s ease;
}

.galeria img:hover {
    width: 500px;
    opacity: 1;
    filter: brightness(130%);
}

.proceso {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 1vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7c7c7;
    transition: 0.5s;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: separate; /* Separar los bordes de las celdas */
    border-spacing: 30px; /* Establecer el espacio entre las celdas */
    
    
}

td, th {
    padding: 10px; /* Agregar espacio interno al contenido de las celdas */
    border: 1px solid #000; /* Agregar bordes a las celdas */
    background: #c76c6c;
    border-radius: 10px;
}

table h1{
    text-align: center;
     margin-bottom: 1%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
     color: #f5f0f0;
     font-size: 20px;
}

table p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
}

.proceso h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

form {
    background-color: #ffffff;
    padding: 30px;
}

form h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #ca6a6a;
}

form h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 25px;
    color: #6e4848;
    
}
table .tab {
    text-align: center;
     margin-bottom: 1%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
     color: #f7efef;
     font-size: 20px;
}